@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

.header{
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 82, 140);
}

.logo span{
    color: black;
}

.bar{
    display: flex;
    gap: 25px;
}

.bar a{
    text-decoration: none;
    color: #000;
    font-size: 14px
}

.bar a:hover{
    text-decoration: underline;
    color: rgb(255, 82, 140);
}