@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

.header{
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 82, 140);
}

.logo span{
    color: black;
}

.bar{
    display: flex;
    gap: 25px;
}

.bar a{
    text-decoration: none;
    color: #000;
    font-size: 14px
}

.bar a:hover{
    text-decoration: underline;
    color: rgb(255, 82, 140);
}

.body{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

h1, h3, h4{
    font-weight: normal;
    line-height: 1.2;
}

h1{
    font-weight: bold;
    margin-top: -5px;
    color: rgb(255, 82, 140);
}

h3{
    margin-top: -5px;
    margin-bottom: 20px;
}
h4{
    margin-top: 50px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    border-top: 3px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    padding: 10px 0;
}

nav ul li{
    margin: 0 20px;
}

nav ul li a{
    color: black;
    font-size: 12px;
}

nav ul li a:hover{
    color: palevioletred;
    font-size: 12px;
}

div img{
    width: 250px;
    height: 200px;
    margin: 10px -10px;
}

p{
    font-size: 15px;
}